<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <p id="notice"><%= notice %></p>

      <h1>Tasks</h1>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render @todos %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Task', new_todo_path %>
    </div>
  </div>
</div>
