<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <h1>New Task</h1>

      <%= render 'form', { todo: @todo, action: 'new' } %>

      <%= link_to 'Back', todos_path %>
    </div>
  </div>
</div>
